.wall {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    padding: 4rem 2rem;
}

.poster {
    grid-column: 1 / span 3;
}

.poster h2 {
    margin-bottom: 2rem;
}

.details {
    grid-column: 5 / span 3;
    margin-top: 2rem;
}

.details li {
    list-style: none;
    margin: 1rem 0
}

@media (max-width: 768px) {
    .wall {
      grid-template-columns: repeat(3, 1fr);
    }
    .poster {
        text-align: center;
    }
    .details {
        grid-column: 1/ span 3;
        grid-row: 2;
    }
  }